#messages {
  border: 1px solid #ccc;
  height: 300px;
  overflow-y: scroll;
  padding: 5px;
  margin-bottom: 10px;
}
.messageBox {
  padding: 5px;
  margin: 2px 0;
}
.mine {
  background-color: #430952;
}
.myMsgDiv{
  text-align: right;
}
.theirs {
  background-color: #1f2022;
}
.messageTxt{
  color: white;
  font-size: 15px;
  width:fit-content;
  border-radius: 20px;
}
.username{
  color: lightgray;
  font-size: 10px;
  width: fit-content;
}